  .deleteButton {
    float: right;
    background: lightcoral;
  }
  .deleteButton:hover {
    background: red;
  }

  .rightButton {
    float: right;
    
  }
   .hiddenOverFlow {
   
     overflow: hidden ;
   }

  .card-header:hover {
    background: rgba(204, 204, 204, 0.39);
  }

  .card{
    margin-bottom: 10px;
}

.topBar {
  padding-top: 25px;
}

.col1 {
  float:left; 
  width:100px;
  /* background-color: #E8F6F7; */
}

.col2 {
  float:left; 
  /* margin-left:30px; */
  margin-bottom: 10px;
  /* background-color: #f2dede; */
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid lightblue;
  padding: 10px;
}

.comment{
  min-width: 200px;
  min-height: 100px;
}

.post{
  min-width: 200px;
  min-height: 150px;
}

.comments-list {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 250px;
}
.user-list {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 400px;
}

.by {
  float: right;
  font-size: 12px;
}

.login-form {
  margin-right: auto; 
  margin-left: auto; 
  width: 800px;
}


